.custom-transition-active {
    transition: all 0.2s ease-in;
    visibility: hidden;
    transform: translateY(10%);
}

.custom-transition:hover{
    .custom-transition-active{
        transform: translateY(0);
        visibility: visible;
    }
   
}
.nav_mobile{
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    &.active{
    transform: translateX(0);

    }
}